
:root {
    --primary-color: #F9E6CF;
    --secondary-color: #FAC67A;
    --tertiary-color: #DA498D;
    --quaternary-color: #69247C;
}

/*

:root {
    --primary-color:#F6DC43;
    --secondary-color: #FF2DF1;
    --tertiary-color: #A5158C;
    --quaternary-color: #410445;
}
:root {
    --primary-color:#FFF2AF;
    --secondary-color: #DAD2FF;
    --tertiary-color: #B2A5FF;
    --quaternary-color: #493D9E;
}


:root {
    --primary-color: #FFD2A0;
    --secondary-color: #EFB6C8;
    --tertiary-color: #A888B5;
    --quaternary-color: #8174A0;
}


:root {
    --primary-color: #F1E7E7;
    --secondary-color: #FFFECE;
    --tertiary-color: #FFD0C7;
    --quaternary-color: #E69DB8;
}
*/

body {
    font-family: "Nunito";
    background-color: var(--quaternary-color);
    color: var(--quaternary-color);
}

.band-name {
    font-style: italic;
    letter-spacing: 1.5rem;
    font-weight: 500;
}

.box-section {
    display: grid;
    grid-template-columns: 325px 2fr 1fr;
    grid-template-rows: 325px 1fr 2fr 0.5fr;
    gap: 2rem;
    margin: 2rem;
}

.box {
    background-color: var(--tertiary-color);
    width: inherit;
    border-radius: 2rem;
}

/* Specific boxes */

.welcome {
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    flex-direction: column;
    gap: 0;
}


.welcome h1 {
    margin: 0;
    padding: 1.2rem;
    font-size: 6rem;
    font-weight: 1000;
    line-height: 5rem;
    color: var(--primary-color);
    
}

.welcome h2 {
        font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.welcome h3 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color: var(--quaternary-color);
}

/* Image */

.image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

/* Quarter Options */

.quarter-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
}

.quarter-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Release Dates */

.release-dates {
    background-color: var(--secondary-color);
    grid-row-start: 2;
    grid-row-end: 4;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.release-dates h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 0rem;
    margin-bottom: 1rem;
    color: var(--quaternary-color);
    font-weight: 1000;
    
}

.release-dates table {
    width: 100%;
    margin-top: 0;
    border-collapse: separate;
    align-items: center;
}

.release-dates b {
    font-size: 1.1rem;
    font-weight: 1000;
}

.release-dates td {
    padding: 1rem;
    text-align: center;
}

/* Quarter options */

.quarter-options {
    overflow: hidden;
}

.quarter-option {
    width: 100%;
    height: 100%;
    display: flex;
}

.quarter-option a {
    font-size: 1.25rem;
    z-index: 2;
    text-decoration: none;
    width: inherit;
    height: inherit;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.2s, background-color 0.2s;
}

.quarter-option a:hover {
    
    background-color: #ffffff66;
    font-size: 1.5rem;
    transition: font-size 0.2s, background-color 0.2s;
}

.quarter-option:nth-child(1) {
    
    background-image: url("images/pexels-photo-1587927.webp");
    background-color: var(--tertiary-color);
    background-size: 200%;
    background-position: center;
    position: relative;
    transition: background-size 0.1s;
}

.quarter-option:nth-child(2) {
    background-image: url("images/pexels-photo-2831797.webp");
    background-color: var(--primary-color);
    background-size: 200%;
    background-position: center;
    position: relative;
    transition: background-size 0.1s;
}

.quarter-option:nth-child(3) {
    background-image: url("images/pexels-photo-70497.webp");
    background-color: var(--primary-color);
    background-size: 200%;
    background-position: center;
    position: relative;
    transition: background-size 0.1s;
}

.quarter-option:nth-child(4) {
    background-image: url("images/pexels-photo-1445238.webp");
    background-color: var(--tertiary-color);
    background-size: 200%;
    background-position: center;
    position: relative;
    transition: background-size 0.1s;
}

.quarter-option:nth-child(1)::after,
.quarter-option:nth-child(4)::after {
    content: "";
    position: absolute;
    background-color: var(--tertiary-color);
    opacity: 0.75;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.quarter-option:nth-child(2)::after,
.quarter-option:nth-child(3)::after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    opacity: 0.75;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

.quarter-option:hover {
    background-size: 350%;
    transition: background-size 0.2s, color 0.2s;
}

/* Japanese Phrase */

.japanese-phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--primary-color) !important;
}

.japanese-phrase-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.japanese-phrase-container h1 {
    display: flex;
    color: var(--quaternary-color);
    text-shadow: 6px 6px var(--secondary-color);
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    font-size: 9em;
}

/* Contact */
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

.contact i {
    color: var(--secondary-color);
    text-shadow: 3px 3px var(--quaternary-color);
    font-size: 4rem;
    transition: color 0.2s, text-shadow 0.2s;
}

.contact i:hover {
    color: var(--primary-color);
    text-shadow: 6px 6px var(--secondary-color);
    transition: color 0.2s, text-shadow 0.2s;
}

/* Form */

.form {
    padding: 2rem;
}

.form form{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.form h1 {
    margin: 0;
    text-align: center;
    margin: 1rem;
}

.form form input,
.form form textarea {
    font-family: "Nunito";
    color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
}

.form form input[type="text"] {
    background-color: var(--quaternary-color);
    height: 100%;
}

.form form textarea {
    background-color: var(--quaternary-color);
    height: 100%;
    resize: none;
}

.form form input[type="submit"] {
    color: var(--quaternary-color);
    height: 50%;
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    
}

/* Album Preview */

.album-preview {
    grid-column: 3;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album-preview figure {
    padding: 0;
    margin: 1rem 2rem;
}

.album-preview img {
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem;
    object-fit: cover;
}


.album-preview figcaption {
    margin: 1rem;
    text-align: center;
}

.album-preview figcaption i {
    letter-spacing: 0.2rem;
}

.album-preview figcaption b {
    font-size: 2rem;
    line-height: 1.7rem;
    color: var(--primary-color);
    font-weight: 1000;
}

.album-preview li {
    font-weight: 900;
    margin: 1rem 0;
}

/* Test */

.copyright {
    grid-column-start: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}