body {
    margin: 0;
    padding: 0;
}

/* General */

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 1rem;
}

/* Header */

header {
    
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

header i {
    flex-grow: 1;
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 0;
}


header nav {
    flex-grow: 20;
    display: flex;
    justify-content: center;
}


header ul {
    
    justify-content: center;
    display: flex;
    padding: 0px;
    border: 3px solid black;    
    max-width: fit-content;
    height: min-content;    
}

header ul li{
    list-style: none;
    background-color: white;
    margin: 0;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
}

/* Hero Image */

#hero-images h1
{
    font-size: 4rem !important; 
    margin: 0;
}

#hero-images h2
{
    font-size: 2rem !important;
    font-weight: 100;
    margin: 0;
}


#hero-images {
    position: relative;
    background-color: antiquewhite;
    height: 25rem;
    background-image: url("images/pexels-photo-7104164.jpeg");
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
}

#hero-images::before {
    content: "";
    background-color: rgba(255, 243, 224, 0.803);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#hero-image-text {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

/* Hero title */

#hero-title-section {
    
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
}


#hero-title {
    display: flex;
    padding: 3rem;
    height: 30rem;
    justify-content: center;
    gap: 3rem;
    justify-content: space-around;
    width: 70%;
}


#hero-title img {
    object-fit: contain;
}

#hero-title-text {
    display: flex;
    flex-direction: column;
    
}



.button {    
    background-color: white;
    margin: 0;
    padding: 0.5rem 3rem;
    text-decoration: none;
    width: fit-content;
    border: 2px solid black;
}

#hero-title-text a{
    background-color: darkgray !important;
    color: white;
}

/* Sponsor section */

#sponsor-section {
    background-color:rgb(255, 248, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

#sponsor-list {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    margin: 4rem;
}

.sponsor {
    width: 10rem;
    border: 2px black solid;
    padding: 2rem;
}

footer {
    background-color: rgb(206, 172, 87);
}

footer #prefooter {
    display: flex;
    width: 100%;
    padding: 4rem 0rem;
    gap: 10rem;
    justify-content: space-around;
}

/* Footer form */

footer #footer-form-submission {
    display: flex;
    flex-direction: column;
}

/* Footer sitemap */

footer #footer-sitemap ul a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

/* Footer contact */

footer .footer-contact {
    flex-direction: column;
}

footer #footer-logo {
    font-size: 10rem;
    margin-bottom: 1rem;
}

footer .footer-contact-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .footer-contact-row i {
    background-color: white;
    height: 100%;
    border-radius: 50%;
    padding: 0.5rem;
    
}

/* Footer copyright */

footer #copyright p{
    background-color: rgb(146, 113, 30);
    margin: 0;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
}