* {
    /* Found this got rid of the spacing around the full screen image */
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: roboto-thin;
    src: url("Fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: roboto;
    src: url("Fonts/Roboto/Roboto-Regular.ttf");
}

body {
    background-color: #191919;
}

/* Nav bar */
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo {
    /*font-family: roboto-thin, Helvetica;*/
    color: white;
    font-size: 1.5rem;
    margin: 27px 27px;
    padding: 0;
    position:absolute;
    top:0;
    left:0;
    font-family: roboto;
    z-index: 1;
}

nav {
    
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    
    gap: 3px;
    top: 0;
    right: 0;
    margin: 30px;
    list-style: none;
}

nav li {
    margin: 2px;
    text-decoration: none;
    padding: 7px 20px;
    border: 1px rgb(210, 210, 210) solid;
    background-color: #555555;
    transition: background-color 0.05s;
}

nav li:hover
{
    background-color:rgb(131, 131, 131);
}


nav a {
    color: white;
    font-family: roboto;
    text-decoration: none;
    font-size: 1rem;
    list-style: none;
}

@media screen and (max-width: 600px) {
    

    nav {
        display: flex;
        justify-content: right;
    }
    
    nav ul {          
        
        flex-wrap:wrap;
        
        gap: 1px;
        align-items: flex-end;
        margin: 10px;
        width: 65vw;
    }

    .content-container {
        height: 100lvh;
        width: 100lvw;
    }

    #landing {
        z-index: 1;
        
    }

    /*
    #landing::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.756);
    }
    */
}


/* Page content layout */

h1, p {
    font-family: roboto-thin, Helvetica;
    color: white;
}

h1 {
    font-size: 3.5rem;
    padding: 40px 0px;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: roboto
}

#landing {
    background-image: url("Images/hero-image.jpg");
    background-size:cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

#text-box {
    padding: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 40%;
}

.button {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    /*font-size: 1rem;*/
    display: inline-flex;
    max-width: fit-content;
    text-align: center;
    width: 50%;
    border: none;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px 60px;
    letter-spacing: 0.1em;
    transition: background-color 0.1s;
    cursor: pointer;
    z-index: 0;
}

.button:hover {
    background-color: #c3c3c3;
}

.button:focus {
    background-color: #777777;
}

#home-contact-button {
    width: 100%;
}

#landing {
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 600px) {
    #landing {

        background-size:contain;
        background-color: #0e0e0e;
        background-repeat: no-repeat;
    }
    
    #text-box {
        margin-top: 0px;
        padding: 50px;
        padding-top: 200px;
        position:static;
        width: auto;
    }
}


/* Gallery Page */

.content-container {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-content: center;
}

#gallery {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 5vw;
    gap: 40px;
}

#gallery img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}


@media screen and (max-width: 600px) {
    #gallery {
        grid-template-columns: 1fr 1fr;
    }
}

/* Services */

/*
#services-container {
    width: 100vw;
    height: 100vh;
    background-color: #191919;
}
*/

/* Use content-container */

#right-half {
    
    top: 50%;
    right: 0;
}

#services {
    grid-template-columns: 1fr 1fr;    
    width: 50vw;
    
    /* gap: 23px 20px; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border-bottom: 3px white solid;
}


.horizontal-split{
    
    font-family: roboto-thin, sans-serif;
    font-size: 2rem;
    width: 100%;
    color:white;
    position: absolute;
    top: 30%;
    display: flex;
    gap: 15%;
    justify-content: center;
    
}

.horizontal-split > * {
    
}

.services-textblock {
    margin-bottom: 0px;
    padding: 10px;
    margin: 10px;
}

#services h3 {
    font-family: roboto-thin, sans-serif;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

#services p {
    font-family: roboto-thin, sans-serif;
    font-size: 1rem;
}

.service-button-container {
    width: 100%;
}

.service-button {
    float: right;
    margin-top: 30px;
}

/* About */

#about-title {
    max-width: 20%;
}

#about-text {
    max-width: 40%;
}

#about-portfolio-button-container {
    width: 100%;
}

#about-portfolio-button {
    display: flex;
    width: 40%;
    justify-content: center;
    margin-top: 40px;
}


@media screen and (max-width: 600px) {
    
    #services-text h2 {
        padding: 20px;
    }

    .horizontal-split {
        font-family: roboto-thin, sans-serif;
        font-size: 2rem;
        width: 100%;
        color:white;
        position: absolute;
        top: 20%;
        display: block;
        justify-content: center;
        
    }

    #services {
        margin: 10px;
        display: block;
        text-align: center;
        width: 100%;        
        border-bottom: 3px white solid;
    }

    .services-textblock {
        margin-bottom: 0px;
        padding: 10px;
        margin: 20px;
    }

        
    #about-title {
        max-width: none;
        padding: 20px;
    }

    #about-text {
        max-width: none;
        padding: 20px;
    }

}




/* Contact */
#contact-container {
    width: 100vw;
    height: 100vh;
    background-image: url("Images/contact-page-image.jpg");
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact-container::before
{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.756);
    
    
}

#contact-box {
    z-index: 1;
    width: 75vw;
}


#contact-box h2 {
    
    /*font-family: roboto-thin, Helvetica;*/
    color: white;
    font-size: 1.rem;
    font-family: roboto;
    margin: 10px 0px;
}

#contact-form {
    padding: 20px;
     
    background-color: #191919;
}


.contact-row {
    width: 100%;
    margin: 20px auto;
    
}


.contact-row label{
    float: left;
    color: white;
    font-family: roboto, sans-serif;
}

.contact-row input[type="text"]{
    color: white;
    border: 1px white solid;
    
    width: 100%;
    /*
    height: 50px;
    */
    height: 1.6rem;
    font-size: 1.6rem;
    padding: 10px 0px;
    background-color: #0000;
    font-family: roboto, sans-serif;
}

.contact-button-container {
    width: 100%;
    display: flex;
    justify-content: right;
}

.contact-button-container button {
    
}

.contact-row button {
    text-align: right;
}

#contact-icons 
{
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 100%;
    height: 50px;
    margin: 20px 5px;
}
#contact-icons a {
    display: flex; /* Make the anchor a flex container */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 1.8rem;
    border-radius: 10px;
}

#contact-icons i {
    
}
